# Backend
node_modules/
uploads/
.env
*.log
dist/
src/scripts/

# Frontend
node_modules/
dist/
dist-ssr/
.env
.env.local
*.local

#Documentación
docs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
